<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text alarm</title>
    <link rel="shortcut icon" href="/img/window-icon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../jquery-cookie-master/src/jquery.cookie.js"></script>
    <script src="../script.js"></script>
    <script src="../form-handle.js"></script>
</head>
<body class="bg-dark text-white">
<div class="container text-center">
    <h1>Welcome to the voice alarm app</h1>
    <img src="/img/volume-up-solid.svg" alt="" class="mb-5 svg">
    <div class="col-md-6 mx-auto">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'task-list')">Show tasks</button>
            <button class="tablinks" onclick="openTab(event, 'add-task')">Add a task</button>
        </div>

        <!-- Tab content -->
        <div id="task-list" class="tabcontent">
            <div class="list-group">
                <% for(var i=0; i < tasks.length; i++) { %>
                    <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%= tasks[i].name %></h5>
                            <small><%= tasks[i].time %></small>
                        </div>
                    </a>
                <% }%>
            </div>
        </div>

        <div id="add-task" class="tabcontent">
            <form class="form-group">
                <div class="form-group">
                    <textarea id="text-input" class="form-control form-control-lg" placeholder="Type your thing to get done" required></textarea>
                </div>
                <div class="form-group">
                    <input type="time" id="time-input"  class="form-control form-control-lg" required>
                </div>
                <button class="btn btn-light btn-lg btn-block">Add</button>
            </form>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>